<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='log.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
			<div class="col-md-5 mx-auto">
                <div id="second">
                    <div class="myform form ">
                          <div class="logo mb-3">
                             <div class="col-md-12 text-center">
                                <h1 >Signup</h1>
                             </div>
                          </div>
                          <form action="/reg" method="POST">
                             <div class="form-group">
                                <label for="exampleInputEmail1">First Name</label>
                                <input type="text"  name="firstname" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Enter Firstname">
                             </div>
                             <div class="form-group">
                                <label for="exampleInputEmail1">Last Name</label>
                                <input type="text"  name="lastname" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="Enter Lastname">
                             </div>
                             <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                             </div>
                             <div class="form-group">
                                <label for="exampleInputEmail1">Userame</label>
                                <input type="text"  name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter Firstname">
                             </div>
                             <div class="form-group">
                                <label for="exampleInputEmail1">Password</label>
                                <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                             </div>
                             {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                             {% if messages %}                            <!-- check if there are any messages -->
                                  {% for message in messages %}            <!-- loop through the messages -->
                                    <p style="color: dimgray;font-style: italic;">{{message}}</p>   <br/>                <!-- display each message in a paragraph tag -->
                                  {% endfor %}
                             {% endif %}
                         {% endwith %}
                             <div class="col-md-12 text-center mb-3">
                                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Get Started For Free</button>
                             </div>
                             <div class="col-md-12 ">
                                <div class="form-group">
                                   <p class="text-center"><a href="/" id="signin">Already have an account?</a></p>
                                </div>
                             </div>
                            </form>
                    </div>
              </div>
            </div>
         </div>
    </div>
</body>
</html>